*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
}

.header_topline{
    background-color: #43484c;
    padding: 15px 0;
    color: #fff;
}
.header_topline a{
    color: #fff;
}
.top_links{
    display: inline-block;
    vertical-align: middle;
    z-index: 10px;
}
.top_links a{
    text-decoration: underline;
}
.top_links a:hover{
    text-decoration: none;
}
.soc_buttons {
    float:right;
    font-size: 26px;
    margin-left: 10px;
}
.auth_buttons{
    border: none;
    background-color: transparent;
    font-size: 26px;
}
.main_menu_button{
    border: none;
    background-color: transparent;
    color:#fff;
    font-size: 26px;
    padding: 8px 15px 0;
}
.logo{
    display: block;
    padding: 15px 0;
    color:#fff;
    font-family: NautilusPompiliusRegular;
    font-size: 42px;
    text-align: center;
}
.top_header{
    background-color: #4aaad2;
}
.main_menu{
    background-color: #3797bf;
    color: #fff;
    margin-bottom: 20px;
}
.main_menu a{
    color:#fff;
    display: block;
    padding: 15px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
.main_menu a:hover{
    background-color: #2787af;
}
.main_menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float:left;
    text-transform: uppercase;
}
.top_contacts{
    float:right;
    font-size: 32px;
    padding: 0 10px;
    background-color: #2787af;
    line-height: 54px
}
.main_menu ul li{
    display: inline-block;
}